* {
	margin: 0;
	padding: 0;
}
body {
	font: 100%/1.5em "Bree Serif","Open Sans";
	background-color: #fff;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
@media screen and (min-width: 320px) and (max-width: 720px) { 
	header {
		margin: 0 6.25%;
	}
	.logo h1 {
		font-family: "Bree Serif";
		font-size: 1.375em;
		font-weight: 400;
		color: black;
		text-transform: uppercase;
	}
	span.green {
		color: #53a665;
	}
	ul.menu-720 {
		display: none;
	}
	
	.container {
		width: 100%;
		padding: 0 6.25%;
		background-image: url(../img/color-fill-3-copy.png);
		background-repeat: repeat;
	}
	nav {
		background-image: url(../img/color-fill-3-copy.png);
	}
	ul.menu {
		list-style: none;
	}
	ul.menu li a:hover {
		color: #53a665;
		border-bottom: 3px solid #53a665;
	}
	ul.menu li a {
		border-bottom: 3px solid black;
		display: block;
		text-shadow: 0 1px 0 white;
		font-family: "Bree Serif";
		font-size: 1em;
		font-weight: 400;
		line-height: 34px;
		color: #333;
		text-transform: uppercase;
	}
	.video {
		margin-top: 22px;
		width: 100%;
	}
	.video img {
		width: 100%;
	}
	p {
		background-color: #fff;
	}
	p.info-one {
		margin-top: 14px;
		width: 95.7%;

		background-color: transparent;

		color: black;
		font-family: "Bree Serif";
		font-size: 1em;
		font-weight: 400;
		line-height: 5%:	
	}
	p.info-one .white {
		background-color: #fff;
	}
	p.info-two {
		width: 98.57%;
		margin-top: 28px;
		width: 100%;

		font-family: "Open Sans";
		font-weight: 400;
		color: black;
		font-size: 1em;
		line-height: 24px;
	}
	p.info-two a {
		color: #53a665;
		font-size: 0.875em;
		line-height: 21px;
		text-decoration: underline;
	}
	.info-third {
		width: 97.14%;
		margin-top: 32px;
		position: relative;

	}
	.info-third p.text-third {
		width: 100%;

		color: #333;
		font-family: "Open Sans";
		font-size: 1em;
		font-weight: 400;
		line-height: 21px;
	}
	.info-third button {
		padding: 0 3%;
		position: absolute;
		right: -3%;
		top: 80%;

		background-color: #53a665;

		color: white;
		font-family: "Open Sans";
		font-size: 0.875em;
		font-weight: 400;
		line-height: 24px;
	}
	ul.section {
		padding-top: 5%;
	}
	.section li {
		position: relative;
	}
	.section li img {
		margin: 0 auto;
		width: 10%;
		display: block;

	}
	.section li p {
		background-color: transparent;
		text-align: center;
	}
	.section li .name {
		text-shadow: 0 1px 0 white;
		font-family: "Bree Serif";
		font-size: 1.3125em;
		font-weight: 400;
		line-height: 21px;
	}
	.section li .description {
		text-shadow: 0 1px 0 white;
		color: #333;
		font-family: "Open Sans";
		font-size: 0.875em;
		font-weight: 400;
		line-height: 21px;
	}
	.section button {
		margin: 5% auto;
		padding:0 3%;
			
		display: block;
		background-color: #53a665;
		color: white;
		font-family: "Open Sans";
		font-size: 0.875em;
		font-weight: 400;
		line-height: 24px;
	}
	ul.section li:nth-child(3) {
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	}
	footer {
		width: 100%;
	}
	footer img {
		margin: 5% auto 0;
		width: 34.2%;
		display: block;
	}
	.copyright {
		display: none;
	}
}
@media screen and (min-width: 721px) and (max-width: 940px) {
	body {
		background-image: url(../img/bg-720-two.png);
		background-position: 0 -60%;
		
	}
	header {
		background-color: #fff;
	}
	.logo h1 {
		font-family: "Bree Serif";
		font-size: 1.375em;
		font-weight: 400;
		color: black;
		text-transform: uppercase;
		text-align: center;
	}
	span.green {
		color: #53a665;
	}
	.menu-720 {
		margin-bottom: 10px;
		text-align: center;
	}
	.menu-720 li {
		display: inline-block;
		position: relative;
	}
	.menu-720 li a {
		display: block;
		
		font-family: "Bree Serif";
		font-size: 1em;
		font-weight: 400;
		color: #333;
		text-transform: uppercase;
	}
	.menu-720 li:after {
		content: "";
		display: none;
		position: absolute;
		bottom: -40%;
		right: 50%;
		
		border: 5px solid;
		border-color: #53a665 transparent transparent transparent;
	}
	.menu-720 li:hover a {
		color: #53a665;
	}
	.menu-720 li:hover::after {
		display: block;
	}
	.container {
		margin: 0 auto;
		padding-top: 4.5%;
		position: relative;
		width: 64.16%;
	}
	.menu {
		display: none;
	}
	.video {
		margin-top: 5%;
		width: 100%;
	}
	.video img {
		width: 100%;
	}
	p {
		margin-top: 3%;
		background-color: #fff;
	}
	p.info-one {
		width: 86.2%;
		background-color: transparent;
		
		color: #5a9e61;
		font-family: "Bree Serif";
		font-size: 1.5em;
		font-weight: 400;
		line-height: 28px;
	}
	p.info-one .white {
		background-color: #fff;
	}
	p.info-two {
		width: 442px;
		height: 65px;
		color: transparent;
		font-family: "Open Sans";
		font-size: 1em;
		font-weight: 400;
		line-height: 24px;
		color: black;
	}
	p.info-two a {
		color: #53a665;
		font-size: 0.875em;
		line-height: 21px;
		text-decoration: underline;
	}
	.info-third {
		width: 97.14%;
		margin-top: 32px;
		position: relative;

	}
	.info-third p.text-third {
		width: 100%;

		color: #333;
		font-family: "Open Sans";
		font-size: 1em;
		font-weight: 400;
		line-height: 21px;
	}
	.info-third button {
		padding: 0 3%;
		position: absolute;
		right: -3%;
		top: 80%;

		background-color: #53a665;

		color: white;
		font-family: "Open Sans";
		font-size: 0.875em;
		font-weight: 400;
		line-height: 24px;
	}
	ul.section {
		text-align: center
	}
	.section li {
		width: 87.66%;
		margin-top: 10%;
		
		display: inline-block;
		position: relative;
	}
	.section li img {
		margin: 0 auto;
		width: 10%;
		display: block;

	}
	.section li p {
		background-color: transparent;
		text-align: center;
	}
	.section li .name {
		text-shadow: 0 1px 0 white;
		font-family: "Bree Serif";
		font-size: 1.3125em;
		font-weight: 400;
		line-height: 21px;
	}
	.section li .description {
		text-shadow: 0 1px 0 white;
		color: #333;
		font-family: "Open Sans";
		font-size: 0.875em;
		font-weight: 400;
		line-height: 21px;
	}
	.section button {
		margin-top: 5%;
		padding:0 3%;
		background-color: #53a665;

		color: white;
		font-family: "Open Sans";
		font-size: 0.875em;
		font-weight: 400;
		line-height: 24px;
	}
	ul.section li:nth-child(3) {
		padding-bottom: 40px;
		border-bottom: 1px solid #ccc;
	}
	footer {
		width: 100%;
	}
	footer img {
		margin: 5% auto;
		width: 34.2%;
	}
	.copyright {
		display: none;
	}
}
@media screen and (min-width: 941px) {
	body {
		background-image: url(../img/bg-720-two.png);
		background-position: 0 11%;
		
	}
	header {
		background-color: #fff;
	}
	.logo h1 {
		margin-left: 11.5%;
		float: left;
		
		font-family: "Bree Serif";
		font-size: 1.875em;
		font-weight: 400;
		color: black;
		text-transform: uppercase;
	}
	span.green {
		color: #53a665;
	}
	.clearfix {
		clear: both;
	}
	.menu-720 {
		margin-right: 11.5%;
		float: right;
		
		margin-bottom: 10px;
	}
	.menu-720 li {
		display: inline-block;
		position: relative;
	}
	.menu-720 li a {
	display: block;
		
	font-family: "Bree Serif";
	font-size: 1em;
	font-weight: 400;
	color: #333;
	text-transform: uppercase;
	}
	.menu-720 li:after {
		content: "";
		display: none;
		position: absolute;
		bottom: -40%;
		right: 40%;
		
		border: 5px solid;
		border-color: #53a665 transparent transparent transparent;
	}
	.menu-720 li:hover a {
		color: #53a665;
	}
	.menu-720 li:hover::after {
		display: block;
	}
	.container {
		margin: 0 11.5%;
		padding-top: 4.5%;
		position: relative;
	}
	.menu {
		display: none;
	}
	.video {
		margin-top: 10%;
		width: 49.15%;
		float: right;
	}
	.video img {
		width: 100%;
	}
	p {
		margin-top: 3%;
		background-color: #fff;
	}
	p.info-one {
		width: 39%;
		background-color: transparent;
		
		color: #5a9e61;
		font-family: "Bree Serif";
		font-size: 1.5em;
		font-weight: 400;
		line-height: 28px;
	}
	p.info-one .white {
		background-color: #fff;
	}
	p.info-two {
		width: 39.47%;
		color: transparent;
		font-family: "Open Sans";
		font-size: 1em;
		font-weight: 400;
		line-height: 24px;
		color: black;
	}
	p.info-two a {
		color: #53a665;
		font-size: 0.875em;
		line-height: 21px;
		text-decoration: underline;
	}
	.info-third {
		width: 36.28%;
		margin-top: 32px;
		position: relative;

	}
	.info-third p.text-third {
		width: 100%;

		color: #333;
		font-family: "Open Sans";
		font-size: 1em;
		font-weight: 400;
		line-height: 21px;
	}
	.info-third button {
		padding: 0 3%;
		position: absolute;
		right: -3%;
		top: 80%;

		background-color: #53a665;

		color: white;
		font-family: "Open Sans";
		font-size: 0.875em;
		font-weight: 400;
		line-height: 24px;
	}
	ul.section {
		width: 100%;
		margin: 5% auto 0;
		padding-bottom: 5%;
		text-align: center;
		
		border-bottom: 1px solid #ccc;
	}
	.section li {
		width: 31.4%;
		
		display: inline-block;
	}
	.section li img {
		margin: 0 auto;
		width: 8.13%;
		display: block;

	}
	.section li p {
		background-color: transparent;
	}
	.section li .name {
		margin-left: 15%;
		width: 70.81%;
		text-shadow: 0 1px 0 white;
		font-family: "Bree Serif";
		font-size: 1.5em;
		font-weight: 400;
		line-height: 21px;
		color: #333;
	}
	.section li .description {
		text-shadow: 0 1px 0 white;
		color: #333;
		font-family: "Open Sans";
		font-size: 0.875em;
		font-weight: 400;
		line-height: 21px;
	}
	.section button {
		margin-top: 5%;
		padding:0 3%;
		background-color: #53a665;

		color: white;
		font-family: "Open Sans";
		font-size: 0.875em;
		font-weight: 400;
		line-height: 24px;
	}
		footer {
	}
	footer img {
		margin-top: 1%;
		float: right;
	}
	.copyright {
		margin-top: 1%;
		float: left;
		
		background-color: transparent;
		text-shadow: 0 1px 0 white;
		color: grey;
		font-family: Verdana;
		font-size: 0.625em;
		font-weight: 400;
	}
}